.Loader {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20px;
  color: #fff;
  background: rgba(41, 149, 255, 0.65);
  text-align: center;
  line-height: 20px;
  letter-spacing: 2px;
  font-size: 11px;
  z-index: 2;
  font-weight: 900;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
  -webkit-animation: loading 0.25s ease-in-out forwards;
  animation: loading 0.25s ease-in-out forwards;
}

@keyframes loading {
  0% {
    -webkit-transform: translate3d(0, 20px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@keyframes loading {
  0% {
    transform: translate3d(0, 20px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
